name: Deploy NgMaps
on: workflow_dispatch
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install NodeJS
              uses: actions/setup-node@v4
              with:
                node-version: '20.9'
            - name: Install Angular CLI
              run: npm install -g @angular/cli
            - name: Install Dependencies
              run: npm ci
            - name: Generate environment file
              run: |
                echo "MAPBOX_KEY=${{ secrets.MAPBOX_KEY }}" > .env
                node ./scripts/set-env.js
              env:
                MAPBOX_KEY: ${{ secrets.MAPBOX_KEY }}
            - name: Debug environment variables
              run: set
            - name: Build
              run: npm run build
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: dist-files
                path: ./dist
    deploy:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: Download artifact
          uses: actions/download-artifact@v4
          with:
            name: dist-files
            path: ./dist
        - name: List files in artifact directory
          run: ls -R ./dist
        - name: Deploy to GitHub Pages
          uses: peaceiris/actions-gh-pages@v4
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./dist/ng-maps/browser
